<p style="color: green"><%= notice %></p>

<%= render @splash %>

<div>
  <%= link_to "Edit this splash", edit_splash_path(@splash) %> |
  <%= link_to "Back to splashes", splashes_path %>

  <%= button_to "Destroy this splash", @splash, method: :delete %>
</div>
