<p style="color: green"><%= notice %></p>

<%= render @category_record %>

<div>
  <%= link_to "Edit this category record", edit_category_record_path(@category_record) %> |
  <%= link_to "Back to category records", category_records_path %>

  <%= button_to "Destroy this category record", @category_record, method: :delete %>
</div>
