<article class="category d-flex" id="<%= dom_id category %>">
  <div class="image">
    <%= image_tag(category.image) %>
  </div>
  <div class="name-date d-flex">
    <h3 class="name"><%= category.name %></h3>
    <p class="date d-flex"> <%= category.created_at.strftime('%d %b %Y') %></p>
  </div>
  <p class="total-amount">$<%=category.total_amount%></p>

</article>