<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <strong>Upload an image...</strong>
  <div class="input">
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, required: true, class:"input-file"%>
  </div>
    
  <div class="d-flex">
    <div class="submit">
      <%= form.submit %>
    </div>
  </div>
<% end %>